Flask
requests
torch
soundfile
numpy
tqdm
scipy
torchaudio
librosa
cn2an
pypinyin
jieba
transformers
MeCab
num2words
mecab-python3
pykakasi
fugashi
unidic_lite
g2p_en
anyascii
jamo
gruut
cached_path
pydub
whisper
sounddevice