*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  background: hsl(0 0% 4%);
  color: hsl(0 0% 100%);
}

button {
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  display: grid;
  place-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.25s;
}

button:hover {
  background: hsl(215, 99%, 58%);
}

button svg {
  width: 32px;
  fill: currentColor;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  cursor: pointer;
}

.divider {
  width: 2px;
  height: 24px;
  background: currentColor;
  margin-right: 0.5rem;
}

button:focus-visible {
  outline-color: hsl(239 100% 75%);
}

label {
  font-size: 1.35rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.25s;
  border-radius: 100px;
}

label:hover {
  background: hsl(239 100% 70% / 0.5);
}

body::before {
  --line: hsl(0 0% 95% / 0.15);
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
}












body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

h1, p {
  margin: 0;
}

.container {
  opacity: 0;
  position: fixed;
  top: 80%;
  max-width: 1000px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: opacity 0.5s ease;
}

#hidden-container {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#app {
  height: 75px;
  width: 600px;
  margin-top: 25px;
  font-size: 1.6rem;
  color: #333;
  white-space: normal;
}

.button-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #4caf50; /* Başlangıçta yeşil */
  border: none;
  color: white;
  font-size: 24px; /* İkonun daha büyük görünmesi için */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  top: 65%;
  right: 47.5%;
}


.button-container i {
  color: #fff;
  font-size: 24px;
}

.button-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
  filter: blur(20px);
  transform: scale(0);
  transition: all 0.5s ease;
  transform-origin: center;
}

.button-container.active::before {
  transform: scale(1);
}

.button-container:active {
  transform: scale(1.1);
  background: #ff6b6b !important;
}

@keyframes btn_noise {
  0% {
    clip: rect(21rem, 50rem, 7rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
  }
  2.5% {
    clip: rect(11rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.025);
  }
  5% {
    clip: rect(22rem, 50rem, 18rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  }
  7.5% {
    clip: rect(12rem, 50rem, 2rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.075);
  }
  10% {
    clip: rect(14rem, 50rem, 23rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  }
  12.5% {
    clip: rect(17rem, 50rem, 6rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.125);
  }
  15% {
    clip: rect(18rem, 50rem, 2rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  }
  17.5% {
    clip: rect(16rem, 50rem, 3rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.175);
  }
  20% {
    clip: rect(13rem, 50rem, 17rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }
  22.5% {
    clip: rect(18rem, 50rem, 11rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.225);
  }
  25% {
    clip: rect(20rem, 50rem, 8rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  27.5% {
    clip: rect(9rem, 50rem, 13rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.275);
  }
  30% {
    clip: rect(14rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }
  32.5% {
    clip: rect(17rem, 50rem, 23rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.325);
  }
  35% {
    clip: rect(10rem, 50rem, 4rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);
  }
  37.5% {
    clip: rect(3rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.375);
  }
  40% {
    clip: rect(7rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  }
  42.5% {
    clip: rect(9rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.425);
  }
  45% {
    clip: rect(11rem, 50rem, 4rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45);
  }
  47.5% {
    clip: rect(4rem, 50rem, 10rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.475);
  }
  50% {
    clip: rect(13rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  }
  52.5% {
    clip: rect(4rem, 50rem, 10rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.525);
  }
  55% {
    clip: rect(3rem, 50rem, 3rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55);
  }
  57.5% {
    clip: rect(1rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.575);
  }
  60% {
    clip: rect(15rem, 50rem, 13rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  }
  62.5% {
    clip: rect(9rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.625);
  }
  65% {
    clip: rect(9rem, 50rem, 10rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.65);
  }
  67.5% {
    clip: rect(6rem, 50rem, 25rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.675);
  }
  70% {
    clip: rect(11rem, 50rem, 7rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  }
  72.5% {
    clip: rect(2rem, 50rem, 20rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.725);
  }
  75% {
    clip: rect(16rem, 50rem, 24rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
  }
  77.5% {
    clip: rect(23rem, 50rem, 12rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.775);
  }
  80% {
    clip: rect(5rem, 50rem, 18rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  82.5% {
    clip: rect(2rem, 50rem, 21rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.825);
  }
  85% {
    clip: rect(25rem, 50rem, 22rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.85);
  }
  87.5% {
    clip: rect(23rem, 50rem, 23rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.875);
  }
  90% {
    clip: rect(1rem, 50rem, 18rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
  }
  92.5% {
    clip: rect(9rem, 50rem, 22rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.925);
  }
  95% {
    clip: rect(19rem, 50rem, 15rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.95);
  }
  97.5% {
    clip: rect(15rem, 50rem, 3rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.975);
  }
  100% {
    clip: rect(4rem, 50rem, 13rem, -25rem);
    box-shadow: 0 0 30px white;
  }
}
@keyframes btn_noise2 {
  0% {
    clip: rect(24rem, 50rem, 19rem, -25rem);
  }
  2.5% {
    clip: rect(18rem, 50rem, 21rem, -25rem);
  }
  5% {
    clip: rect(6rem, 50rem, 19rem, -25rem);
  }
  7.5% {
    clip: rect(5rem, 50rem, 15rem, -25rem);
  }
  10% {
    clip: rect(22rem, 50rem, 11rem, -25rem);
  }
  12.5% {
    clip: rect(21rem, 50rem, 22rem, -25rem);
  }
  15% {
    clip: rect(25rem, 50rem, 11rem, -25rem);
  }
  17.5% {
    clip: rect(6rem, 50rem, 1rem, -25rem);
  }
  20% {
    clip: rect(14rem, 50rem, 23rem, -25rem);
  }
  22.5% {
    clip: rect(15rem, 50rem, 5rem, -25rem);
  }
  25% {
    clip: rect(18rem, 50rem, 8rem, -25rem);
  }
  27.5% {
    clip: rect(16rem, 50rem, 12rem, -25rem);
  }
  30% {
    clip: rect(13rem, 50rem, 16rem, -25rem);
  }
  32.5% {
    clip: rect(3rem, 50rem, 13rem, -25rem);
  }
  35% {
    clip: rect(8rem, 50rem, 4rem, -25rem);
  }
  37.5% {
    clip: rect(19rem, 50rem, 5rem, -25rem);
  }
  40% {
    clip: rect(4rem, 50rem, 8rem, -25rem);
  }
  42.5% {
    clip: rect(3rem, 50rem, 24rem, -25rem);
  }
  45% {
    clip: rect(5rem, 50rem, 11rem, -25rem);
  }
  47.5% {
    clip: rect(16rem, 50rem, 2rem, -25rem);
  }
  50% {
    clip: rect(2rem, 50rem, 12rem, -25rem);
  }
  52.5% {
    clip: rect(3rem, 50rem, 10rem, -25rem);
  }
  55% {
    clip: rect(3rem, 50rem, 19rem, -25rem);
  }
  57.5% {
    clip: rect(17rem, 50rem, 21rem, -25rem);
  }
  60% {
    clip: rect(16rem, 50rem, 7rem, -25rem);
  }
  62.5% {
    clip: rect(19rem, 50rem, 13rem, -25rem);
  }
  65% {
    clip: rect(23rem, 50rem, 22rem, -25rem);
  }
  67.5% {
    clip: rect(12rem, 50rem, 24rem, -25rem);
  }
  70% {
    clip: rect(17rem, 50rem, 10rem, -25rem);
  }
  72.5% {
    clip: rect(7rem, 50rem, 5rem, -25rem);
  }
  75% {
    clip: rect(21rem, 50rem, 15rem, -25rem);
  }
  77.5% {
    clip: rect(25rem, 50rem, 24rem, -25rem);
  }
  80% {
    clip: rect(11rem, 50rem, 4rem, -25rem);
  }
  82.5% {
    clip: rect(3rem, 50rem, 2rem, -25rem);
  }
  85% {
    clip: rect(8rem, 50rem, 22rem, -25rem);
  }
  87.5% {
    clip: rect(2rem, 50rem, 23rem, -25rem);
  }
  90% {
    clip: rect(11rem, 50rem, 10rem, -25rem);
  }
  92.5% {
    clip: rect(4rem, 50rem, 23rem, -25rem);
  }
  95% {
    clip: rect(20rem, 50rem, 7rem, -25rem);
  }
  97.5% {
    clip: rect(23rem, 50rem, 4rem, -25rem);
  }
  100% {
    clip: rect(8rem, 50rem, 22rem, -25rem);
  }
}
@keyframes btn_ring {
  0% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
  }
  100% {
    box-shadow: inset 0 0 0 20px white, 0 0 30px white;
  }
}
.btn {
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(1, 0, 0.5, -1) 0.25s, box-shadow 0.5s cubic-bezier(1, -5, 0.5, 5) 0.25s;
  transform: scale(0.5);
  animation: btn_noise 3s ease-in-out 1, btn_ring 1s ease-in-out 3s 1;
  box-shadow: inset 0 0 0 20px white, 0 0 30px white;
  left: 50%;
  top: 35%;
  margin: -12.5rem;
  width: 25rem;
  height: 25rem;
  position: absolute;
  cursor: pointer;
}
.btn::before, .btn::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 31rem;
  height: 29rem;
  margin: -2rem -3rem -2rem -3rem;
  border-radius: 50%;
  z-index: -10;
}
.btn::before {
  box-shadow: 0 -15px 30px -15px rgba(255, 255, 255, 0.8), -25px 15px 50px -25px rgba(255, 255, 255, 0.2), 0 -25px 15px -20px rgba(255, 255, 255, 0.3);
}
.btn::after {
  box-shadow: 0 -25px 20px -15px rgba(255, 255, 255, 0.2), 10px 25px 15px -30px white, -10px 30px 20px -30px rgba(255, 255, 255, 0.3);
}

.btn-info {
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
  background-image: repeating-radial-gradient(rgba(255, 255, 255, 0.2) 0, black 2px, black 50px);
  overflow: hidden;
  opacity: 0;
  background-size: 12.5rem 12.5rem;
  position: absolute;
  width: inherit;
  height: inherit;
}

@keyframes grow-round {
  0% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
  }
}

.btn-info.btn_active {
  opacity: 1;
  transform: scale(1);
  animation: grow-round 2s ease-in-out infinite;
}

.btn-info.btn_deactive {
  opacity: 0;
  transform: scale(0);
}

.btn-h1, .btn-button, .btn-button::after, .btn-button:active::after {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-h1 {
  text-shadow: 0 0 0 white, 0 0 1px white, 0 1px 2px rgb(255, 255, 255);
  position: absolute;
  clip: rect(0, 20rem, 20rem, 0);
  font-size: 2em;
  padding-top: 3.5rem;
  left: 23%;
  color: transparent;
}

.btn-h1 span {
  font-size: 1.1em;
}

.btn-h1_thin {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.btn-line {
  transition: all 1s ease-in-out;
  margin: 10.5rem 3rem 2.5rem;
  border-top: 1px solid white;
  width: 0;
}

.btn-copy {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.btn-author {
  transition: all 1s ease-in-out;
  text-shadow: 0 0 1px white;
  font-size: 1.8rem;
  font-family: 'Mrs Saint Delafield', cursive;
  opacity: 0;
  color: white;
  text-align: center;
}

.btn-copy {
  padding: 0 5rem;
  margin-bottom: 1.5rem;
}

.btn-button {
  transition: all 0.1s ease-in-out;
  font-style: normal;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  width: 5rem;
  padding: 0.5rem;
  margin: 0 auto;
  display: block;
  position: relative;
}
.btn-button::before {
  transition: all 0.1s ease-in-out;
  content: "";
  opacity: 0;
  position: absolute;
  width: 5rem;
  padding: 0.5rem;
  top: 0%;
  left: 0%;
  height: 56%;
}
.btn-button::after {
  text-shadow: 0 0 1px white, 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  content: "GO!";
  color: rgb(0, 0, 0);
  position: absolute;
  opacity: 0;
  bottom: 10%;
  left: 35%;
}

.btn-button:hover {
  width: 7rem;
}
.btn-button:hover::before {
  opacity: 1;
  animation: btn_stripe 0.5s infinite linear;
  background: linear-gradient(45deg, #ffffff 25%, #000000 25%, #000000 50%, #ffffff 50%, #ffffff 75%, #000000 75%, #000000);
  background-size: 30px 30px;
  width: 7rem;
}
.btn-button:hover::after {
  opacity: 1;
}

.btn-button:active {
  background-color: white;
}
.btn-button:active::before {
  opacity: 0;
}
.btn-button:active::after {
  text-shadow: 0 0 1px white, 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;
  content: "SWEET";
  color: black;
  position: absolute;
  top: 0%;
  left: 20%;
}

@keyframes btn_stripe {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.btn:hover {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
  transform: scale(1);
  transition-delay: 1.5s;
}
.btn:hover::before {
  animation: btn_spin 0.5s cubic-bezier(0.6, 0.2, 0, 0.8) infinite alternate, btn_fade 1.5s cubic-bezier(0.4, 0.2, 0.1, 0.7);
}
.btn:hover::after {
  animation: btn_spin 1s cubic-bezier(0.4, 0.2, 0.1, 0.7) 0.25s infinite alternate, btn_fade 1.5s cubic-bezier(0.4, 0.2, 0.1, 0.7);
}
.btn:hover .btn-info {
  transform: scale(1);
  transition-delay: 1.75s;
  animation: btn-bg_size 4s cubic-bezier(0.2, 0, 1, 0.5) infinite alternate, btn-bg_positon 3s ease-in-out infinite alternate;
  opacity: 1;
}
.btn:hover .btn-h1 {
  animation: btn_noise2 4s 1 linear alternate-reverse;
  left: 18%;
}
.btn:hover .btn-author {
  transition-delay: 2.25s;
  opacity: 1;
}
.btn:hover .btn-line {
  transition-delay: 1.75s;
  width: 19rem;
  margin: 10.5rem 3rem 1rem;
}

@keyframes btn_spin {
  100% {
    transform: rotate(1000) scale(1);
  }
}
@keyframes btn_fade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .2;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes btn-bg_size {
  100% {
    background-size: 2.5rem 2.5rem;
  }
}
@keyframes btn-bg_positon {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
}
.btn_ghost {
  animation: btn_ghost 0.3s ease-in-out 2 alternate;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.8s;
  opacity: 0;
}

.btn-h1 span {
  animation-delay: 0.05s;
}

.btn-h1 span > span {
  animation-delay: 0.1s;
}

.btn-h1 span > span > span {
  animation-delay: 0.15s;
}

.btn-h1 span > span > span > span {
  animation-delay: 0.2s;
}

.btn-h1 span > span > span > span > span {
  animation-delay: 0.25s;
}

.btn-h1 span > span > span > span > span > span {
  animation-delay: 0.3s;
}

.btn-h1 span > span > span > span > span > span > span {
  animation-delay: 0.35s;
}

.btn-h1 span > span > span > span > span > span > span > span {
  animation-delay: 0.4s;
}

@keyframes btn_ghost {
  100% {
    text-shadow: 5rem 0 20rem black;
  }
}
.btn_gone {
  transition: all 0.2s ease-in-out;
  transition-delay: 0s !important;
  transform: translateY(1rem) rotateX(90deg);
  opacity: 0 !important;
}

.btn_white {
  transition-delay: 0s !important;
  background: white !important;
}

.btn_shrink {
  transition: all 0.4s ease-in-out;
  transition-delay: 0.4s !important;
  background: white !important;
  transform: scale(0) !important;
  opacity: 0 !important;
}

.scene-spinner {
  margin: auto;
  height: 100%;
  display: none;
}

.spn-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spn-spinner {
  position: relative;
}

.spn-a {
  display: block;
  position: absolute;
  opacity: 0;
}
.spn-a .spn-b {
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 1rem white;
  animation: spn_spin 1s infinite ease-in-out;
}

/* Başlangıç butonunun bulunduğu alan */
.scene-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
