*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  background: hsl(0 0% 4%);
  color: hsl(0 0% 100%);
}

button {
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  display: grid;
  place-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.25s;
}

button:hover {
  background: hsl(215, 99%, 58%);
}

button svg {
  width: 32px;
  fill: currentColor;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  cursor: pointer;
}

.divider {
  width: 2px;
  height: 24px;
  background: currentColor;
  margin-right: 0.5rem;
}

button:focus-visible {
  outline-color: hsl(239 100% 75%);
}

label {
  font-size: 1.35rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.25s;
  border-radius: 100px;
}

label:hover {
  background: hsl(239 100% 70% / 0.5);
}

body::before {
  --line: hsl(0 0% 95% / 0.15);
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

h1, p {
  margin: 0;
}

.container {
  opacity: 0;
  position: fixed;
  top: 80%;
  max-width: 1000px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: opacity 0.5s ease;
}

#hidden-container {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#app {
  height: 75px;
  width: 600px;
  margin-top: 25px;
  font-size: 1.6rem;
  color: #333;
  white-space: normal;
}

.button-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #4caf50; /* Başlangıçta yeşil */
  border: none;
  color: white;
  font-size: 24px; /* İkonun daha büyük görünmesi için */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  top: 65%;
  right: 47.5%;
}


.button-container i {
  color: #fff;
  font-size: 24px;
}

.button-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
  filter: blur(20px);
  transform: scale(0);
  transition: all 0.5s ease;
  transform-origin: center;
}

.button-container.active::before {
  transform: scale(1);
}

.button-container:active {
  transform: scale(1.1);
  background: #ff6b6b !important;
}

@keyframes btn_ring {
  0% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
  }
  100% {
    box-shadow: inset 0 0 0 20px white, 0 0 30px white;
  }
}
