<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marvin DON'T PANIC</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

  <div class="form-container">

    <label>Speech Understanding</label>

    <input type="number" id="fs" placeholder="fs: 44100" min="8000" max="192000" step="100">
    <input type="number" id="chunk_size" placeholder="chunk_size: 1024" min="256" max="4096" step="256">
    <input type="number" id="silence_threshold" placeholder="silence_threshold: 0.0001" min="0.0001" max="1" step="0.0001">
    <input type="number" id="silence_duration" placeholder="silence_duration: 2.5" min="0.1" max="10" step="0.1">
  
    <select id="model_name">
      <option value="tiny">Tiny</option>
      <option value="base">Base</option>
      <option value="small" selected>Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>

    <button id="submitBtn">Update</button>

  </div>

  <div class="form-container2">

    <label>Customized Role</label>

    <input id="prompt" placeholder="you can define a role">
    <button id="submitBtn2">Update</button>
    <button id="submitBtn3">Reset</button>

  </div>

  <div class="sidebar">
    <label>Question Answering</label>
    <button>Llama 3.1</button>
    <button>Phi 3 Mini</button>
    <button>Gemma 2</button>
    <button>Mistral</button>
    <button>Neural Chat</button>
    <button>Code Llama</button>
    <button>HuggingFaceTB</button>
  </div>

  <div class="sidebar2">
    <label>Speech Synthesizer</label>
    <button>EN-Default</button>
    <button>EN-US</button>
    <button>EN-BR</button>
    <button>EN_INDIA</button>
    <button>EN-AU</button>
  </div>

  <div class='scene-button'>
    <div class='btn'>
      <div class='btn-info'>
        <h1 class='btn-h1'>
          <span>B<!--
            --><span>L<!--
              --><span>A<!--
                --><span>C<!--
                    --><span>K<!--
                        --><span class="btn-h1_thin">H<!--
                          --><span class="btn-h1_thin">O<!--
                            --><span class="btn-h1_thin">L<!--
                              --><span class="btn-h1_thin">E</span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
            </span>
          </span>
        </h1>
        <div class='btn-line'></div>
        <p class='btn-author'>By Deniz Karhan</p>
        <p class='btn-copy'>"Let's ask your questions</p>
        <a class='btn-button' id='btn_click'>BEGIN</a>
      </div>
    </div>
  </div>

  <div class="container" id="hidden-container">
    <div class="button-container" id="record-button">
      <i class="fas fa-microphone"></i>
    </div>
    <div id="app">Ask me something</div>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  <script src="../static/js/app.js"></script>
</body>
</html>