<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marvin DON'T PANIC</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  
  <div class='scene-button'>
    <div class='btn'>
      <div class='btn-info'>
        <h1 class='btn-h1'>
          <span>B<!--
            --><span>L<!--
              --><span>A<!--
                --><span>C<!--
                    --><span>K<!--
                        --><span class="btn-h1_thin">H<!--
                          --><span class="btn-h1_thin">O<!--
                            --><span class="btn-h1_thin">L<!--
                              --><span class="btn-h1_thin">E</span>
                          </span>
                        </span>
                      </span>
                    </span>
                  </span>
                </span>
            </span>
          </span>
        </h1>
        <div class='btn-line'></div>
        <p class='btn-author'>By Deniz Karhan</p>
        <p class='btn-copy'>"Let's ask your questions</p>
        <a class='btn-button' id='btn_click'>BEGIN</a>
      </div>
    </div>
  </div>

  <div class="container" id="hidden-container">
    <div class="button-container" id="record-button">
      <i class="fas fa-microphone"></i>
    </div>
    <div id="app">Ask me something</div>
  </div>

  <!-- Bağlantı -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  <script src="../static/js/app.js"></script>

</body>
</html>